


/* global view - aka desktop view */


body {
    margin: 0;
}
.container {
    background-color: rgb(43,226,147);
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    background-color: rgb(212, 116, 236);
    min-height: 200px;
    width: 30%;
    margin-bottom: 40px;
    /* display: flex;
    flex-wrap: wrap; */
}


/* Tablet View */
@media(max-width: 768px){


    .col {
        width: 45%;
    }


}


/* Mobile view */
@media (max-width: 500px){

    .col {
        width: 100%;
    }

}











